* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Used another gradient for the background of this page
  Changed font and size of font*/
body {
    height: 110vh;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    margin-left: 50px;
    font-size: 24px;
    font-family: 'Alata', sans-serif;
    text-decoration: none;
    color: black;
}

/*Moved header and changed the font of the header*/
h1 {
    text-align: center;
    margin: 60px;
    font-size: 80px;
    font-family: 'Monoton', cursive;
    border: 3px solid black;
}

/*Moved list inwards*/
/*Also removed the bullet points from the list items*/
ul {
    margin-left: 100px;
    list-style: none;
}

/*Added a footer that is a link back to the index page of the site*/
/*I tried to make a background for the button but could not get the positioning right*/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
  }
footer a {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Alata', sans-serif;
    text-decoration: none;
    color: black;
}
